# --- Core Data Processing ---
pandas==2.1.4
# Chặn Numpy 2.0 để tránh crash Airflow/Pandas
numpy==1.26.4

# --- Database & Storage ---
# PostgreSQL Driver
psycopg2-binary==2.9.9
sqlalchemy==1.4.51

# MinIO (S3 Compatible) - Dùng provider Amazon là chuẩn nhất
apache-airflow-providers-amazon==8.20.0
s3fs==2024.3.1  # Để Pandas đọc/ghi trực tiếp vào MinIO (df.to_parquet('s3://...'))

# --- Big Data Processing (Spark) ---
# PySpark để viết code Spark hoặc dùng SparkSubmitOperator
pyspark==3.5.1
apache-airflow-providers-apache-spark==4.8.0

# --- Real-time Streaming (Kafka) ---
# Thư viện client xịn nhất cho Kafka (nhanh hơn kafka-python)
confluent-kafka==2.3.0
apache-airflow-providers-apache-kafka==1.4.0

# --- Query Engine (Trino) ---
# Client để gửi câu SQL xuống Trino
trino==0.328.0
apache-airflow-providers-trino==5.8.0

# --- Data Extraction ---
yfinance==0.2.36
requests==2.31.0