postgresql:
  enabled: true
  image:
    repository: postgres
    tag: 14.21-trixie
dags:
  gitSync:
    enabled: true
    repo: "https://github.com/alloc110/Analysis_Ecom_Real_Time.git"
    branch: "main"
    rev: "HEAD"
    depth: 1
    wait: 60
    subPath: "Dags" # Đường dẫn trong repo chứa các DAGs
apiServer:
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "300m"
      memory: "512Mi" # Giới hạn chặt chẽ để không gây sập cả cụm