postgresql:
  enabled: true
  image:
    repository: postgres
    tag: 14.21-trixie
dags:
  gitSync:
    enabled: true
    repo: "https://github.com/alloc110/Analysis_Ecom_Real_Time.git"
    branch: "main"
    rev: "HEAD"
    depth: 1
    wait: 60
    subPath: "Dags" # Đường dẫn trong repo chứa các DAGs
