# 1. Cấu hình Database (Giữ nguyên vì đã đúng)
postgresql:
  enabled: true
  auth:
    username: postgres
    password: postgres
    database: postgres

  image:
    repository: postgres
    tag: 15-alpine
    pullPolicy: IfNotPresent
data:
  metadataConnection:
    user: postgres
    pass: postgres
    db: postgres
    host: airflow-postgresql
    port: 5432

# 2. Cấu hình Image (DÙNG IMAGE BẠN ĐÃ BUILD)
# Đừng dùng apache/airflow:latest nữa, nó thiếu thư viện!

apiServer:
  enabled: true
  resources:
    requests:
      cpu: "200m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

webserver:
  command: ["airflow", "webserver"]
  enabled: true
  replicas: 1
  defaultUser:
    enabled: true
    role: Admin
    username: admin
    password: admin
  resources:
    requests:
      cpu: "200m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
  startupProbe:
    failureThreshold: 60
    periodSeconds: 10

# Áp dụng cho Scheduler
scheduler:
  resources:
    requests:
      cpu: "200m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

# 4. GitSync (Giữ nguyên)
dags:
  gitSync:
    enabled: true
    repo: "https://github.com/alloc110/Analysis_Ecom_Real_Time.git"
    branch: "main"
    rev: "HEAD"
    depth: 1
    wait: 60
    subPath: "Dags"

  # Giữ nguyên các phần resources/replicas của bạn...
extraPipPackages:
  - "apache-airflow-providers-postgres==6.0.0"
  - "pandas>=2.0.0"
  - "requests"
  - "scikit-learn"
  - "pandas==2.1.4"
  - "numpy==1.26.4"
  - "psycopg2-binary==2.9.9"
  - "sqlalchemy==1.4.51"
  - "apache-airflow-providers-amazon==8.20.0"
  - "s3fs==2024.3.1"  
  - "pyspark==3.5.1"
  - "apache-airflow-providers-apache-spark==4.8.0"
  - "confluent-kafka==2.3.0"
  - "apache-airflow-providers-apache-kafka==1.4.0"
  - "trino==0.328.0"
  - "apache-airflow-providers-trino==5.8.0"
  - "requests==2.31.0"